#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_triplechain
#build/triplechaind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_triplechain)

DEB_INSTALL_EXAMPLES_triplechaind += debian/examples/*
DEB_INSTALL_MANPAGES_triplechaind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix triplechaind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f triplechain; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake triplechain.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_triplechain
	src/test_triplechain

# Ensure wrapper is set executable
binary-post-install/triplechaind:
	chmod +x $(cdbs_curdestdir)usr/bin/triplechaind
binary-post-install/triplechain:
	chmod +x $(cdbs_curdestdir)usr/bin/triplechain